@font-face {
  font-family: "iconfont"; /* Project id 2720760 */
  src: url('iconfont.woff2?t=1631675357856') format('woff2'),
       url('iconfont.woff?t=1631675357856') format('woff'),
       url('iconfont.ttf?t=1631675357856') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e673";
}

.icon-arrow-up-bold:before {
  content: "\e689";
}

.icon-top:before {
  content: "\e65a";
}

.icon-qq:before {
  content: "\e6fd";
}

.icon-pinterest:before {
  content: "\e63a";
}

.icon-instagram-fill:before {
  content: "\e63b";
}

.icon-facebook:before {
  content: "\e61c";
}

.icon-twitter:before {
  content: "\e9b2";
}

.icon-youtube:before {
  content: "\e7b2";
}

.icon-tiktok:before {
  content: "\ecdc";
}

.icon-vk:before {
  content: "\e82c";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-arrow-down-bold:before {
  content: "\e68c";
}

.icon-menu:before {
  content: "\e778";
}

.icon-arrow:before {
  content: "\e741";
}

.icon-customer-service:before {
  content: "\e61b";
}

.icon-code:before {
  content: "\e631";
}

.icon-market:before {
  content: "\e609";
}

.icon-supplier:before {
  content: "\e60d";
}

.icon-accommodation:before {
  content: "\e66c";
}

.icon-user:before {
  content: "\e62b";
}

.icon-service:before {
  content: "\e69d";
}

.icon-cooperation:before {
  content: "\e86f";
}

.icon-password:before {
  content: "\e630";
}

.icon-user-manage:before {
  content: "\e62f";
}

.icon-diamond-line:before {
  content: "\e6b5";
}

.icon-complaints:before {
  content: "\e6ec";
}

.icon-service3:before {
  content: "\e6c2";
}

.icon-upload:before {
  content: "\e600";
}

.icon-certificate:before {
  content: "\e639";
}

.icon-diamond:before {
  content: "\eb70";
}

.icon-contract:before {
  content: "\e613";
}

.icon-innovation:before {
  content: "\e601";
}

.icon-settlement:before {
  content: "\e7d4";
}

.icon-data:before {
  content: "\e603";
}

.icon-order:before {
  content: "\e622";
}

.icon-register:before {
  content: "\e785";
}

.icon-clothes-full:before {
  content: "\e8c7";
}

.icon-global:before {
  content: "\e625";
}

.icon-customer:before {
  content: "\ebf6";
}

